[init]
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = cache --timeout=3600
[merge]
  tool = splice
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[user]
  name = Jared Norman
  email = jared@super.gd
[github]
  user = jarednorman
[alias]
  a = add
  ap = add -p
  b = branch
  bl = branch --sort=-committerdate -vv
  c = commit -v
  ca = commit -v --amend
  cf = commit --fixup
  cn = commit -v --no-verify
  co = checkout
  cb = checkout -b
  d = diff
  di = diff --no-index
  ds = diff --staged
  f = fetch
  ff = merge --ff-only
  ll = log --graph --pretty=format:'%C(6)%h %C(reset)%C(8)→ %C(bold)%C(7)%s%C(reset) %C(4)%aN %C(8)%cd%C(11)%d' --abbrev-commit
  l = ll --date=relative
  m = merge
  pf = push --force-with-lease
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  s = status
  ss = status -s
[rebase]
  autosquash = true
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = green
  remote = green bold
[color "diff"]
  meta = yellow
  frag = 8
  old = red
  new = green
  commit = cyan
  whitespace = red reverse
  func = black bold
[color "diff-highlight"]
  oldNormal = 9
  oldHighlight = 9 ul
  newNormal = 10
  newHighlight = 10 ul
[color "status"]
  header = blue
[push]
  default = current
