[init]
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = cache --timeout=3600
[merge]
  tool = splice
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[user]
  name = Jared Norman
  email = jared@super.gd
[github]
  user = jarednorman
[alias]
  a = add
  b = branch
  bl = branch --sort=-committerdate -vv
  c = commit -v
  ca = commit -v --amend
  cf = commit --fixup
  cn = commit -v --no-verify
  co = checkout
  cb = checkout -b
  d = diff
  ds = diff --staged
  f = fetch
  ff = merge --ff-only
  ll = log --graph --pretty=format:'%C(4)%h %C(reset)%C(bold 8)→ %C(bold 7)%s%C(reset) %C(6)%aN %C(8)%cd%C(13)%d' --abbrev-commit
  l = ll --date=relative
  m = merge
  pf = push --force-with-lease
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  s = status
  ss = status -s
[rebase]
  autosquash = true
[color]
  branch       = auto
  diff         = auto
  status       = auto
  ui = true
[color "branch"]
  current      = yellow reverse
  local        = yellow
  remote       = green
[color "diff"]
  meta = magenta bold
  frag = blue
  old = red
  new = green
  commit = cyan
  whitespace = red reverse
[color "status"]
  header       = magenta bold
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = red reverse
  newNormal = green
  newHighlight = green reverse
[push]
	default = current
