[alias]
  l = ll --date=relative
  ll = log --graph --pretty=format:'%C("#7c6f64")%h %C(reset)%C("#665c54")→ %C("#ebdbb2")%s%C(reset) %C("#458588")%aN %C("#928374")%cd%C("#fabd2f")%d' --abbrev-commit
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = "#fabd2f bold"
  local = "#a89984"
  plain = "#a89984"
  remote = "#a89984"
  upstream = "#a89984"
[color "diff"]
  commit = "#a89984"
  frag = "#ebdbb2 bold"
  func = "#ebdbb2 nobold"
  meta = "#fabd2f bold"
  new = "#b8bb26"
  old = "#fb4934"
  plain = "#a89984"
  whitespace = "#fe8019 reverse"
[color "diff-highlight"]
  newHighlight = "#b8bb26 bold ul"
  newNormal = "#b8bb26"
  oldHighlight = "#fb4934 bold ul"
  oldNormal = "#fb4934"
[color "status"]
  added = "#b8bb26 bold"
  branch = "#fabd2f bold"
  changed = "#fb4934 bold"
  header = "#a89984"
  nobranch = "#ff00ff"
  unmerged = "#fe8019 bold"
  untracked = "#ebdbb2 bold"
[commit]
  verbose = true
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = cache --timeout=3600
[github]
  user = jarednorman
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
[push]
  default = current
[rebase]
  autosquash = true
[user]
  name = Jared Norman
  email = jared@super.gd
